.cart_container {
  width: 440px;
  height: 492px;
  border-radius: 8px;
  border: 1px solid #f0f0f5;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
}

h3 {
  margin-bottom: 34px;
}

.product_list {
  border-bottom: 1px solid #e0e0e5;
  padding-bottom: 2rem;
  margin-bottom: 1.6rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.cart_info {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.ship {
  padding-bottom: 2rem;
  border-bottom: 1px solid #e0e0e5;
  margin-bottom: 14px;
}

.price {
  font-weight: 600;
}