/* form */
.form {
  width: 100%;
  flex: 1;
}
/* title */
.title {
  composes: title from "./address.module.css";
}

/* input section */
.input_section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-flow: row;
  gap: 1.5rem 0;
}
.input_section>.row {
  grid-column: 1 / 5;
}
.input_section>div {
  grid-column: 1 / 7;
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.row {
  display: flex;
  flex-direction: column;
}

.fold {
  flex: 1;
}

.input {
  composes: input_style from "./address.module.css";
}

/* label */
.label {
  composes: label from "./address.module.css";
}