/* container */
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* step */
.step {
  display: flex;
  align-items: center;
  position: relative;
}

/* circle */
.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #AFB1BD;
  margin-right: 8px;
  position: relative;
}
.circle::after {
  color: #AFB1BD;
  font-size: 12px;
  position: absolute;
  top: 3px;
  right: 50%;
  transform: translateX(50%)
}
.step:nth-child(1) .circle::after {
  content: "1";
}
.step:nth-child(3) .circle::after {
  content: "2";
}
.step:nth-child(5) .circle::after {
  content: "3";
}

/* not active */
.step .circle::after{
  color: #AFB1BD;
}

/* active */
.step.active .circle{
  background-color: #000;
}
.step.active .circle::after {
  color: #fff
}
/* label */

.label {
  font-size: 16px;
  color: #AFB1BD;
}

.step.active .label {
  color: #000;
}

/* connect line */

.connectLine {
  display: flex;
  flex-grow: 1;
  max-width: 60px;
  height: 1px;
  margin: 0px 8px;
  border-width: 2px;
  border-style: solid;
  color: #AFB1BD
}

.connectLine.active {
  color: #000;
}